<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
	 <div class="d-flex align-items-center light-blue-gradient" style="height: 100vh;">
            <div class="container" >
                <div class="d-flex justify-content-center">
                    <div class="col-md-7">
                        <div class="card rounded-0 shadow">
                            <div class="card-body">
                            	   <!-- message box  -->
		   <div th:if="${session.message}" class="container">
		   
		   	  <div class="alert alert-danger my-2  text-center" role="alert">
  				
  				<span th:text="${session.message}"></span>
  				
			</div>
			
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			
		   </div>
	
                                <h3>Your Register Email</h3>
                                <form method="post" action="" th:action="@{/send-otp}">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address:</label>
                                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        <small id="emailHelp" class="form-text text-muted">we'll send forget password link on your email.</small>
                                    </div>
                                    <div class="container text-center">
                                    <button type="submit" class="btn btn-warning">Send OTP</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
	
          </div>
          </div>
    
	</section>

</body>
</html>